{% extends "layout.html" %}
{% block content %}

    <h1>About Page</h1>
    <br>
    <br>
    
    
    <h3>
    	This app lets you write about your placement experience which helps the juniors to prepare well for their targeted companies 
    </h3>
    <p>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>

    	Made by-
    	<br>
    	Akash Verma (RA1811033010086)
    	<br>
    	Neeraj Bhatia (RA1811033010091)
    	<br>
    	Saksham Anand (RA1811033010076)
    </p>
{% endblock content %}
